								</div>
							</div>

						
						<!-- /FORM -->
			</section>
			<!-- /CONTACT -->

			<!-- Overview -->
			<section id="overview" class="alternate">
				<div class="container text-center">
					<h2>IN BUSINESS SINCE 1976.</h2>
				</div>
			</section>
			<!-- /Overview -->

	<!-- JAVASCRIPT FILES -->
	<script>var plugin_path = 'assets/plugins/';</script>
    <%= javascript_include_tag "plugins/jquery/jquery-3.3.1.min" %>
    <%= javascript_include_tag "scripts" %>

    <!-- PAGELEVEL SCRIPTS -->
    <%= javascript_include_tag "contact" %>

    <!-- REVOLUTION SLIDER -->
    <%= javascript_include_tag "plugins/slider.revolution/js/jquery.themepunch.tools.min" %>
    <%= javascript_include_tag "plugins/slider.revolution/js/jquery.themepunch.revolution.min" %>
    <%= javascript_include_tag "demo.revolution_slider" %>
</body>

</html>


