

<section id="requestform">
	<div class="container">
		<header class="text-center mb-60">
			<h2>Intervention Form</h2>
		</header>
		<div class="row">
			<!-- FORM -->
			<div class="col-md-8 col-sm-8">

          <div class="row">
            <div class="control-group">
              <div class="controls">
                <%= label_tag(:author, "*Author:") %>
                <%= collection_select(:intervention, :author, Employee.order(:last_name), :id, :first_name, {prompt: 'none'} ) %>
              </div> 
            </div> 
          </div>


          <div class="row">
            <div class="control-group">
              <div class="controls">
                <%= label_tag(:customer_id, "*Customer:") %>
                <%= collection_select(:intervention, :customer_id, Customer.order(:company_name), :id, :company_name, {prompt: 'Please select'} ) %>
              </div> 
            </div> 
          </div>

          <div class="row">
            <div class="control-group">
              <div class="controls">
                <%= label_tag(:building_id, "*Building:") %>
                <%= collection_select(:intervention, :building_id, Building.order(:id), :id, :id, {prompt: 'Please select'} ) %>
              </div> 
            </div> 
          </div>

          <div class="row">
            <div class="control-group">
              <div class="controls">
                <%= label_tag(:battery_id, "*Battery:") %>
                <%= collection_select(:intervention, :battery_id, Battery.order(:battery_type), :id, :id, {prompt: 'None'} ) %>
              </div> 
            </div> 
          </div>

          <div class="row">
            <div class="control-group">
              <div class="controls">
                <%= label_tag(:column_id, "*Column:") %>
                <%= collection_select(:intervention, :column_id, Column.order(:id), :id, :id, {prompt: 'None'} ) %>
              </div> 
            </div> 
          </div>

          <div class="row">
            <div class="control-group">
              <div class="controls">
                <%= label_tag(:elevator_id, "*Elevators:") %>
                <%= collection_select(:intervention, :elevator_id, Elevator.order(:serial_number), :id, :serial_number, {prompt: 'Please select'} ) %>
              </div> 
            </div> 
          </div>

          <div class="row">
            <div class="control-group">
              <div class="controls">
                <%= label_tag(:report, "*Description:") %>
                <%= text_area_tag(:report, "", size: "30x4") %>          
              </div> 
            </div> 
          </div>
        
           <div class="row">
            <div class="control-group">
              <div class="controls">
                <%= submit_tag("Submit") %>
              </div> 
            </div> 
          </div>

              
      </div>
		</div>
	</div>
</section>

