
<section id="requestform">
	<div class="container">
		<header class="text-center mb-60">
			<h2>Intervention Form</h2>
		</header>
		<div class="row">
			<!-- FORM -->
			<div class="col-md-8 col-sm-8">

          <div class="row">
            <div class="control-group">
              <div id="author_i">
                <%= label_tag(:author, "*Author:") %>
                <div id="author_s">
                  <%= collection_select(:intervention, :author, Employee.order(:last_name), :id, :first_name, {prompt: 'None'} ) %>
                </div>
              </div> 
            </div> 
          </div>


          <div class="row">
            <div class="control-group">
              <div id="customer_i">
                <%= label_tag(:customer_id, "*Customer:") %>
                <div id="customer_s">
                  <%= collection_select(:intervention, :customer_id, Customer.order(:company_name), :id, :company_name, {prompt: 'Please select'} ) %>
                </div>
              </div> 
            </div> 
          </div>

          <div class="row">
            <div class="control-group">
              <div class="building_i">
                <%= label_tag(:building_id, "*Building:") %>
                <%= collection_select(:intervention, :building_id, Building.order(:id), :id, :id, {prompt: 'Please select'} ) %>
              </div> 
            </div> 
          </div>

          <div class="row">
            <div class="control-group">
              <div class="battery_i">
                <%= label_tag(:battery_id, "*Battery:") %>
                <%= collection_select(:intervention, :battery_id, Battery.order(:battery_type), :id, :id, {prompt: 'None'} ) %>
              </div> 
            </div> 
          </div>

          <div class="row">
            <div class="control-group">
              <div class="column_i">
                <%= label_tag(:column_id, "*Column:") %>
                <%= collection_select(:intervention, :column_id, Column.order(:id), :id, :id, {prompt: 'None'} ) %>
              </div> 
            </div> 
          </div>

          <div class="row">
            <div class="control-group">
              <div class="elevator_i">
                <%= label_tag(:elevator_id, "*Elevators:") %>
                <%= collection_select(:intervention, :elevator_id, Elevator.order(:serial_number), :id, :serial_number, {prompt: 'Please select'} ) %>
              </div> 
            </div> 
          </div>

          <div class="row">
            <div class="control-group">
              <div class="description_i">
                <%= label_tag(:report, "*Description:") %>
                <%= text_field_tag(:report) %>
              </div> 
            </div> 
          </div>
        
           <div class="row">
            <div class="control-group">
              <div class="submit_i">
                <%= submit_tag("Submit") %>
              </div> 
            </div> 
          </div>

              
      </div>
		</div>
	</div>
</section>


<%=javascript_tag "$('#author_i').prop('disabled', true)" %>